.container {
  display: flex;
  height: calc(100% - 45px);
  width: 100%;
}

.sidebar {
  order: 0;
  flex-grow: 0;
  flex-shrink: 0;
  width: 300px;
  margin: 0 20px 0 0;
  padding-top: 15px;
  background-color: rgb(247, 247, 247);
  overflow-x: hidden;
}

.content {
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 25px 0 25px 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.availableTemplates > .spinner {
  padding-top: 20px;
}

.helpList li {
  margin-bottom: 20px;
}

.helpList img {
  margin-top: 10px;
}

button .ms-Spinner {
  padding-right: 5px;
}

.error {
  color: red;
}
